* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background-color: rgba(0, 0, 0, 0.7);
}

.title-container {
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 3rem;
}

.title-info {
    display: flex;
    gap: 10px;
}

.title-info p {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 8px;
}

.image-container {
    position: relative;
}

.image {
    border-radius: 10px;
    border-top-left-radius: 0;
}

.watchlist-button {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    left: 0;
    opacity: 0.6;
    padding: 6px;
    position: absolute;
}

.box-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.story-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.story-container h3 {
    font-size: 2em;
}

.story-container p {
    width: 56vw;
}